
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
@section InnerSection{
    <!-- Page Header Start -->
    <div class="hide-for-large cell small-12 small-order-2" style="display: flex; background-color: black;">
        <div style="flex: 5;">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-start m-lg-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown" style="font-size:40px">ABOUT <span class="text-primary">CarServ</span></h1>
                    <nav aria-label="breadcrumb" class="text-white" style="font-size:20px">
                        <p>For technicians known for their work and their word, trust the experts at CarSer.</p>
                        <a href="/Service/Booking/#book" class="btn btn-primary py-2 px-4">Request Order</a>
                    </nav>
                </div>
            </div>
        </div>
        <div style="flex: 3;">
            <img src="~/asset/images/about.jpg" alt="Image" style="width: 100%; height: 100%;">
        </div>
    </div>
    <!-- Page Header End -->
    
}
@section Inner1Section{
     <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/CloserLook.jpg" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-10 text-white mb-0">Best <span class="fs-4">Choice</span></h1>
                            <h4 class="text-white"style="padding-left:50px">For You</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @* <h6 class="text-primary text-uppercase">// About Us //</h6> *@
                    <h1 class="mb-4"><span class="text-primary">CarServ</span> Your Trusted Partner for Premium Automotive Services</h1>
                    <p class="mb-4">At <strong>CarServ</strong>, we are more than just an auto service provider; we are the embodiment of innovation and quality in the Middle East. With a commitment to excellence, we have redefined the automotive service industry by introducing a range of unique and customer-centric solutions. Our story is one of unwavering dedication to providing top-tier services that offer both comfort and quality, setting us apart as a trusted name in the world of automobiles.</p>
                    <h4 class="mb-4">Your Partner for Auto Excellence</h4>
                    <p class="mb-4">Our mission is simple yet profound: to be your trusted partner for all your automotive needs. We understand that your vehicle is not just a mode of transportation; it's an essential part of your daily life. That's why we've made it our goal to ensure that your automotive experience is nothing short of exceptional.</p>
                    <h4 class="mb-4">More Than Just a Service</h4>
                    <p class="mb-4">
                        Our commitment to you goes beyond the basics. We understand that emergencies can happen, and when they do, we're here to help. Car Surf extends its comprehensive services to include mobile towing and on-site mechanical assistance. Whether you're facing a breakdown or need a vehicle towed, we've got you covered. Our experienced team is ready to assist you promptly, getting you back on the road with minimal disruptions.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4"><span class="text-primary">Network </span>of Excellence</h1>
                    <p class="mb-4">At <strong>CarServ</strong>, we take great pride in connecting you with a network of top-notch services. Our extensive list of partners includes state-of-the-art inspection centers and certified repair facilities, ensuring that your vehicle receives the highest level of care and attention. When you choose CarServ, you're choosing quality and reliability.</p>
                    <h4 class="mb-4">Convenience at Your Fingertips</h4>
                    <p class="mb-4">We understand that convenience is paramount when it comes to your automotive needs. That's why we've designed CarServ to be your one-stop solution. With us, you have easy access to a range of essential services right at your fingertips.</p>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/Maintenance.jpg" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-10 text-white mb-0">Best <span class="fs-4">Choice</span></h1>
                            <h4 class="text-white" style="padding-left: 50px">For You</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/Chargaing.jpg" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-10 text-white mb-0">Best <span class="fs-4">Choice</span></h1>
                            <h4 class="text-white" style="padding-left:50px">For You</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="mb-4"><span class="text-primary">Charging</span> And Wash Stations</h1>
                    <p class="mb-4">Running low on fuel? No problem. CarServ offers you real-time information on the nearest petrol stations, ensuring you're never left stranded. We believe that refueling should be as convenient as possible, and we've made it happen.</p>
                    <h4 class="mb-4">Electric Charging Stations</h4>
                    <p class="mb-4">In an age of environmental awareness and sustainability, electric vehicles are becoming increasingly popular. Car Surf supports this green revolution by helping you locate electric charging stations in your vicinity. We're committed to a cleaner, greener future.</p>
                    <h4 class="mb-4">Car Wash Facilities</h4>
                    <p class="mb-4">
                        Keeping your vehicle clean and presentable has never been easier. Our platform provides you with quick and convenient access to nearby car wash facilities. Say goodbye to long lines and waiting times; Car Surf makes car washing hassle-free.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-20">
                    <h1 class="mb-4"><span class="text-primary">Vision</span> of Innovation</h1>
                    <p class="mb-4">CarServ was born out of a vision to transform the way people experience automotive services. We believe that getting your vehicle serviced should be as easy as a click, as convenient as a tap, and as reliable as a trusted friend. Our platform embodies this vision, offering a seamless and user-friendly experience.</p>
                    <h4 class="mb-4">Your Trust, Our Priority</h4>
                    <p class="mb-4">Trust is the cornerstone of our business. We understand that you rely on us to ensure your vehicle's safety and performance. That's why every partner we connect you with undergoes rigorous vetting to meet our stringent quality standards. Your trust is our priority, and we are committed to upholding it.</p>
                    <p class="mb-4">
                        CarServ is not just an auto service provider; we are your partner in automotive excellence. We redefine convenience, reliability, and quality in the Middle East's automotive. From car wash facilities to electric charging stations, from petrol stations to on-site assistance, we are here to make your automotive journey smoother and more enjoyable. Choose Car Surf and experience a new era of automotive services, where your satisfaction is our driving force.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About End -->
    @* <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Years Experience</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Expert Technicians</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Satisfied Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-car fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Compleate Projects</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End --> *@
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                @* <h6 class="text-primary text-uppercase">// Our Team //</h6> *@
                <h1 class="mb-5">Our Team Builder WebSite</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    @*
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/asset/img/team-1.jpg" alt="">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                *@
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item py-2 px-4">
                        @*
                    style="width:1080px;height:1290px;"
                        *@
                        <div class="position-relative overflow-hidden">
                            <img class="bg-light img-fluid p-2 d-block mx-auto mb-3" src="~/asset/images/m3.jpg" alt="" style="width: 250px; height: 250px;">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fw-bold mb-0">Mansoor  Moqbel</h5>
                            <small>Senior Backend Developer</small>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item py-2 px-4">
                        <div class="position-relative overflow-hidden">
                            <img class="bg-light img-fluid p-2 d-block mx-auto mb-3" src="~/asset/images/myphoto1.jpg" alt="" style="width: 250px; height: 250px;">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100 ">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fw-bold mb-0">Mohamad Alashhab</h5>
                            <small>Senior .Net Developer</small>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    @*
                   <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/asset/img/team-4.jpg" alt="">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                   </div>
                   *@
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- Team End --> 
}


