
@{
    ViewData["Title"] = "Testimonial";
    Layout = "~/Views/Shared/_Inner2Layout.cshtml";
}

@section Inner2Section{
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(~/../../asset/images/T7.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Testimonial</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page">Testimonial</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
}
@section Inner3Section{
    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="text-primary text-uppercase">// Testimonial //</h6>
                <h1 class="mb-5">Our Clients Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="~/asset/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Smith</h5>
                    <p>Automotive Enthusiast</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">I was amazed by the exceptional service I received at one of the repair shops recommended on this website. The team's expertise and dedication made the repair process hassle-free. I highly recommend their services</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="~/asset/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Michael Johnson</h5>
                    <p>IT Professional</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">For someone with a busy schedule, finding reliable car services can be a challenge. I stumbled upon this website and was pleasantly surprised by the quality of the repair shop I visited. Quick turnaround and excellent work - that's what I got!</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="~/asset/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Sarah Davis</h5>
                    <p>Business Owner</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">I needed a trustworthy car inspection site, and I found it through this platform. Their professionalism and attention to detail ensured that my vehicle was thoroughly inspected. I couldn't be happier with their service.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="~/asset/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Emily Turner</h5>
                    <p>Nurse</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">As a healthcare worker, my car's reliability is crucial. This platform connected me with a certified car inspection site that gave me peace of mind. I appreciate their commitment to safety and quality.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Testimonial End -->
}

