
@{
    ViewData["Title"] = "DiagnosticTest";
    Layout = "~/Views/Shared/_Inner2Layout.cshtml";
}

@section Inner2Section{
    <!-- Page Header Start -->
    <div class="hide-for-large cell small-12 small-order-2" style="background-image: url(~/../../asset/images/Header-Services.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Diagnostic Test</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page">Diagnostic Test</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
   
}
@section Inner3Section{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4"><span class="text-primary">Observations</span></h1>
                    <h5 class="mb-4">Dash Indicator Lights</h5>
                    <p class="mb-4">All dash indicator lights turn on and then off when your car starts as a quick system check. This on-off behavior also shows your service technician which bulbs may be burned out.</p>
                    <h5 class="mb-4">Road Test</h5>
                    <p class="mb-4">When you’re used to driving your vehicle every day, it’s easy to get comfortable with things that might be affecting your safety. We may take your car your car for a quick spin to check noise, drivability, handling, and more.</p>
                    <h5 class="mb-4">Wipers</h5>
                    <p class="mb-4">Rain with working wipers? No problem. Rain with worn wipers? Big prob…lookout! Whether you need a quick repair, or heavier blades for winter, we’ll make sure your wiper blades and system are up to task.</p>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/CloserLook.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-10">
                    <h1 class="mb-4"><span class="text-primary">Electrical</span></h1>
                    <h5 class="mb-4">Exterior Lights</h5>
                    <p class="mb-4">We all know how dangerous driving can be with a light out. But oftentimes you don’t know a bulb is out until someone tells you. We’ll check all your exterior lights to keep you and your fellow drivers safe.</p>
                    <h5 class="mb-4">Battery/Cables</h5>
                    <p class="mb-4">Corroded battery terminals or cables rob your engine of starting power. Missing battery hold-downs or insulation may cause premature battery failure. We’ll check it all out, so you don’t have to worry about getting stranded.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-10">
                    <h1 class="mb-4">Belts Hoses and <span class="text-primary">Filters</span></h1>
                    <h5 class="mb-4">Engine Air Filter</h5>
                    <p class="mb-4">Dirty air filters contribute to poor engine performance and lower fuel mileage. Missing or damaged filters allow dirt directly into the engine and may cause premature engine wear.</p>
                    <h5 class="mb-4">Cabin Air Filter</h5>
                    <p class="mb-4">Notice any smells in your car? Does your hay fever act up? Our CarServ technicians will make sure your filters aren’t letting any unwanted particles into your vehicle.</p>
                    <h5 class="mb-4">Hoses</h5>
                    <p class="mb-4">Road conditions and undercarriage corrosion can cause cracks or wear in the steel lines and rubber hoses that carry fuel and brake fluid underneath your vehicle, causing potential safety hazards.</p>
                    <h5 class="mb-4">Belts (except Timing Belts)</h5>
                    <p class="mb-4">Worn or frayed belts should always be replaced. Most modern vehicles use just one belt to operate the water pump, alternator, power steering pump, and A/C. Broken belts can cause overheating, electrical, and steering system failure, leading to roadside breakdowns.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-10">
                    <h1 class="mb-4"><span class="text-primary">Fluids</span></h1>
                    <h5 class="mb-4">Window Washer Fluid</h5>
                    <p class="mb-4">Topped-off window washer fluid reservoirs are necessary for clear visibility in all types of driving conditions. For clearing bugs to road salt, washer fluid is a must-have.</p>
                    <h5 class="mb-4">Engine Oil</h5>
                    <p class="mb-4">Regular oil changes are the best protection against internal engine damage. Clean, quality oil also helps reduce emissions and improve fuel mileage.</p>
                    <h5 class="mb-4">Coolant</h5>
                    <p class="mb-4">Replacing engine coolant renews corrosion protection for the radiator, water pump, and coolant system gaskets while maintaining both freeze and boil-over protection.</p>
                    <h5 class="mb-4">Brake Fluid</h5>
                    <p class="mb-4">Replacing the brake fluid helps maintain correct pedal pressure and prevent corrosion deposits from forming on Anti-lock Brake System pumps and other brake hydraulic parts.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-10">
                    <h1 class="mb-4">Belts Hoses and <span class="text-primary">Filters</span></h1>
                    <h5 class="mb-4">Engine Air Filter</h5>
                    <p class="mb-4">Dirty air filters contribute to poor engine performance and lower fuel mileage. Missing or damaged filters allow dirt directly into the engine and may cause premature engine wear.</p>
                    <h5 class="mb-4">Cabin Air Filter</h5>
                    <p class="mb-4">Notice any smells in your car? Does your hay fever act up? Our CarServ technicians will make sure your filters aren’t letting any unwanted particles into your vehicle.</p>
                    <h5 class="mb-4">Hoses</h5>
                    <p class="mb-4">Road conditions and undercarriage corrosion can cause cracks or wear in the steel lines and rubber hoses that carry fuel and brake fluid underneath your vehicle, causing potential safety hazards.</p>
                    <h5 class="mb-4">Belts (except Timing Belts)</h5>
                    <p class="mb-4">Worn or frayed belts should always be replaced. Most modern vehicles use just one belt to operate the water pump, alternator, power steering pump, and A/C. Broken belts can cause overheating, electrical, and steering system failure, leading to roadside breakdowns.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4"><span class="text-primary">Tires</span></h1>
                    <p class="mb-4">As the only parts of your vehicle that actually make contact with the road, we take tires very seriously. A worn tire could cause longer braking distances, decreased fuel mileage and even alter your vehicle's ride and handling. Not to mention leaving you stranded on the road. We’ll check their pressure, tread depth, wear, alignment and more to make sure your tires are safe, effective and efficient.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h1 class="mb-4"><span class="text-primary">Brakes</span></h1>
                    <p class="mb-4">Brake pads wear out. Air gets into brake lines. A dozen things can go wrong to make your car not stop the way it should. Our Midas Auto Service Experts® will take a closer look at your brakes, to make sure you’re always in control.</p>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        <h3 class="text-white mb-4"><i></i>REQUEST APPOINTMENT</h3>
                        <a href="/Service/Booking" class="btn btn-secondary py-3 px-5">Book Now<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

