
@{
    ViewData["Title"] = "EngineServicing";
    Layout = "~/Views/Shared/_Inner2Layout.cshtml";
}

@section Inner2Section{
    <!-- Page Header Start -->
    <div class="hide-for-large cell small-12 small-order-2" style="background-image: url(~/../../asset/images/Header-Services.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Engine Servicing</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page"> Engine Servicing</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
}
@section Inner3Section{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4"><span class="text-primary">Radiator</span> Replacement and Repair</h1>
                    <p class="mb-4">Related Services:</p>
                    <ul class="mb-4">
                        <li><strong>Radiator Flush:</strong> Refreshes your engine coolant to help ensure that your radiator protects your engine as efficiently as possible</li>
                        <li><strong>Radiator Fluid Leak Repair:</strong> Helps prevent overheating now – and major engine damage later</li>
                    </ul>
                    <h1 class="mb-4">Why is my car <span class="text-primary">overheating</span> ?</h1>
                    <p class="mb-4">Engines overheat due to problems with the vehicle’s coolant, thermostat, and the radiator itself:</p>
                    <ul class="mb-4">
                        <li><strong>Low engine coolant:</strong> Radiator systems can leak for many reasons, such as corrosion or impact from small rocks and road debris.</li>
                        <li><strong>Blocked coolant flow:</strong> Sediments and foreign objects in the radiator, head gasket, and other spots can prevent coolant from circulating.</li>
                        <li><strong>Broken or stuck thermostat:</strong> The engine thermostat can fail or become locked in the closed position.</li>
                        <li><strong>Broken radiator parts:</strong> These include the water pump and radiator fan.</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/Services-Radiator.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-20">
                    <h1 class="mb-4">What are the signs of cooling system <span class="text-primary">failure</span> ?</h1>
                    <p class="mb-4">Engines overheat due to problems with the vehicle’s coolant, thermostat, and the radiator itself:</p>
                    <ul class="mb-4">
                        <li><strong>Low coolant levels:</strong> Take advantage of Midas Closer Look Vehicle Check™</li>
                        <li><strong>High dashboard temperature gauge:</strong> Alert drivers can pull over before the engine actually overheats.</li>
                        <li><strong>Visible coolant leak:</strong> A bright-green, sweet-smelling stain on your driveway or garage floor.</li>
                        <li><strong>White steam from hood:</strong> The most dramatic sign of a cooling system failure is, of course, white steam rising from under your hood: your engine is already overheating.</li>
                        <li><strong>White exhaust smoke:</strong> Not to be confused with the white steam of an overheating engine, white smoke from your tailpipe suggests that your engine is burning coolant. Catastrophic engine damage is a possibility.</li>
                    </ul>
                    <h1 class="mb-4">What happens if the cooling system <span class="text-primary">fails</span> ?</h1>
                    <p class="mb-4">When an engine cooling system fails, the engine will overheat, stranding you and your passengers on the side of the road. If the vehicle is driven while overheated (or suffers specific types of coolant leaks or other damage) the resulting engine damage may generate a repair cost that exceeds the cost of an older vehicle.</p>
                    <h1 class="mb-4">Is it safe to drive a car that is <span class="text-primary">overheating</span> ?</h1>
                    <p class="mb-4">It is not safe to drive an overheating vehicle. Given the hazard of being stranded on the side of the road, it’s tempting to keep driving toward a safe location. But here’s what can happen to a vehicle driven while overheated:</p>
                    <ul class="mb-4">
                        <li>The antifreeze can boil, causing hoses to burst open and spray hot coolant.</li>
                        <li>Engine heads can melt, affecting every aspect of engine performance. Many other engine and exhaust components are equally unable to withstand the high temperature of boiling antifreeze.</li>
                        <li>A blown head gasket can allow coolant to mix with engine oil. This is an extremely expensive engine repair, if the engine can be saved.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h1 class="mb-4">What do I do if my vehicle overheats?</h1>
                    <p class="mb-4">If your vehicle overheats on the road, here’s how to safely cool it down before and after you pull over:</p>
                    <ol class="mb-4">
                        <li>While you’re still driving, open all windows.</li>
                        <li>Turn off the air conditioner if it’s in use.</li>
                        <li>Turn on the heat to help dissipate heat from the engine.</li>
                        <li>Keep your transmission in neutral when it’s safe to do so and rev the engine (this distributes antifreeze).</li>
                        <li>After you pull over, turn off your engine and keep the windows open.</li>
                        <li>Open the hood to further dissipate engine heat.</li>
                        <li>Do not remove the radiator cap until the engine has cooled down.</li>
                        <li>Add fluid to your coolant reservoir that meets your vehicle manufacturer’s specifications.<br>If you have bottled coolant on hand, read the label to find out whether to add water.<br>For most vehicles, plain water should be a last resort.</li>
                    </ol>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        <h3 class="text-white mb-4"><i></i>REQUEST APPOINTMENT</h3>
                        <a href="/Service/Booking" class="btn btn-secondary py-3 px-5">Book Now<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

