@{
    ViewData["Title"] = "TiresReplacement";
    Layout = "~/Views/Shared/_Inner2Layout.cshtml";
}



@section Inner2Section{
    <!-- Page Header Start -->
    <div class="hide-for-large cell small-12 small-order-2" style="background-image: url(~/../../asset/images/Header-Services.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Tires Replacement</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>

                        <li class="breadcrumb-item text-white active" aria-current="page"> Tires Replacement</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
}
@section Inner3Section{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h1 class="mb-4">How do you know if you need <span class="text-primary"><br>new</span> tires?</h1>
                    <p class="mb-4">You should replace any tire that shows one or more of these signs of age, damage, or wear:</p>
                    <ul class="mb-4">
                        <li><strong>Low tread depth:</strong> Replace tires that have worn down below the recommended tread depth. You may want to replace your tires at a higher tread depth depending on manufacturer recommendations, or your specific driving conditions.</li>
                        <li>
                            <strong>Sidewall damage:</strong> Tires with cracks, punctures, blisters, or bulges in the sidewall are no longer structurally sound and cannot be repaired.
                            Your local Midas technician can help you identify these tire safety hazards, and help you select your perfect replacement tires.
                        </li>
                    </ul>
                    <p class="mb-4">Your local CarServ technician can help you identify these tire safety hazards, and help you select your perfect replacement tires.</p>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/asset/images/Services-Tires.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-10">
                <div class="col-lg-8">
                    <h1 class="mb-4">Do you need an <span class="text-primary">alignment</span> with new tires?</h1>
                    <p class="mb-4">It’s a good idea to have your wheel alignment checked when you buy new tires, to ensure that your new tires wear down evenly from the day you drive them home. We also recommend having your alignment checked regularly to extend the life of your tires -- it’s especially convenient to do this when your vehicle is in for services like tire rotation.</p>
                    <h1 class="mb-4">Do new tires need to be <span class="text-primary">balanced</span> ?</h1>
                    <p class="mb-4">While tire imbalance is a common side effect of bumpy roads and other driving hazards, new tires should be checked for balance before mounting. Even new tires can have natural imbalance from the factory. Starting off with balanced tires and having the balanced checked as a regular part of tire service will help extend the life of your tires.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h1 class="mb-4">Do I need a new <span class="text-primary">TPMS</span> with new tires?</h1>
                    <p class="mb-4">Midas recommends installing a TPMS Service Kit with every tire purchased on a TPMS sensor vehicle and testing the TPMS sensor to ensure it’s measuring your tire pressure correctly.Maintaining proper tire pressure extends the life of your tires by preventing premature edge wear and other damage. And your TPMS system is there to alert you to dangerously low tire pressure -- and the blowout risk it brings. You don’t want to miss this warning due to incorrect pressure measurements or a malfunction in your TPMS’s alert function.</p>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        <h3 class="text-white mb-4"><i></i>REQUEST APPOINTMENT</h3>
                        <a href="/Service/Booking" class="btn btn-secondary py-3 px-5">Book Now<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
